.cat {
    background-image: url(../images/cat.png);
}

.dog {
    background-image: url(../images/dog.png);
}

.duck {
    background-image: url(../images/duck.png);
}

.wolf {
    background-image: url(../images/wolf.png);
}

